body, html {
    margin: 0;
    padding: 0;
    background-color: seashell;
}
.row {
    text-align: center;
}
.hidden {
    display: none;
}
#mNavbar {
    height: 30px;
    width: 30px;
    position: fixed;
    bottom: 23px;
    right: 13px;
    cursor: pointer;
    padding: 3px;
    border-radius: 100%;
    border: 3px solid orange;
    background-color: navajowhite;
}
/* #mNavbar {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 175px;
    height: 75px;
    border-left: 3px solid orange;
    border-top: 3px solid orange;
    border-top-left-radius: 100%;
    background-color: navajowhite;
} */
#mNavbar:hover {
    background-color: navajowhite;
}
#mNavbar:active {
    border: 1px solid orange;
    bottom: 25px;
    right: 15px;
}
#mNavOnClick {
    position: fixed;
    right: 16px;
    bottom: 25px;
    width: 200px;
    height: 200px;
}
.mNavItemDiv {
    height: 20%;
    width: 100%;
}
.mNavItemText {
    cursor: pointer;
    font-size: 18px;
    float: right;
    margin: 7px 10px 0 0;
    font-weight: lighter;
}
.mNavIcon {
    cursor: pointer;
    float: right;
    height: 24px;
    width: 24px;
    border: 3px solid orange;
    padding: 3px;
    border-radius: 100%;
}
.mNavIcon:active {
    border: 1px solid orange;
    margin: 2px 2px 0 0;
}
.mActive {
    background-color: sandybrown;
    border-color: black;
}
.mNavItemDiv:hover>.mNavItemText {
    text-decoration: underline;
    text-decoration-color: orange;
    text-decoration-thickness: 2px;
    font-weight: bold;
}
.mNavItemDiv:hover>.mNavIcon {
    background-color: navajowhite;
    border-color: orange;
}
#mLogoDiv {
    position: fixed;
    top: 0;
    left: 0;
    width: 175px;
    height: 75px;
    border-right: 3px solid orange;
    border-bottom: 3px solid orange;
    border-bottom-right-radius: 100%;
    background-color: navajowhite;
}
#mLogoDiv:active {
    border-width: 1px;
}
#mLogo {
    margin: 0;
    color: black;
    padding: 10px 0 0 13px;
    font-family: 'Modak', cursive;
    text-align: left;
    font-size: 1.25em;
}
#mText {
    margin: 0;
    color: black;
    padding: 0 0 0 13px;
    font-family: 'Modak', cursive;
    text-align: left;
    font-size: 0.75em;
}
@media only screen and (min-width: 600px) {
    .mobile {
        display: none;
    }
}