<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zwaz</title>
    <!-- My CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <!-- Favicon -->
    <link rel="icon" type='image/x-icon' href="/static/images/favicon.ico">
</head>
<body>
    <div id='navCol'>       
        <h1 id='navHeader'>Zwaz</h1>
        <ul id='pageList'>
            <li><a class='pageLink inactive' href='/'>Home</a></li>
            <li><a class='pageLink inactive' href='/background/'>Background</a></li>
            <li><a class='pageLink active' href='/analysis/'>Analysis</a></li>
            <li><a class='pageLink inactive' href='/data/'>Data</a></li>
        </ul>
    </div>    
    
    <!-- D3 Scripts -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
    <!-- Javascript -->
    <script type='text/javascript' src='/static/js/app.js'></script>
</body>
</html>