<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zwaz</title>
    <!-- My CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/data.css">
    <!-- Favicon -->
    <link rel="icon" type='image/x-icon' href="/static/images/favicon.ico">
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Modak&display=swap" rel="stylesheet">
</head>
<body>
    <div class='container'>
        <div class='row mobile' id='mLogoDiv' value='home'>
            <p id='mLogo'>ZwazozawZ</p>
            <p id='mText'>Data</p>
        </div>
        <div class='row mobile' id='mSelectionMenuDiv'>
            <select id='schoolNameSelection'>
                <option value='all'>-</option>
            </select>
        </div>
        <div class='row hidden mobile' id='mNavOnClick'>
            <div class='mNavItemDiv'>
                <img class='mNavIcon' id='mIconHome' value='home' src='https://img.icons8.com/ios/50/000000/basketball--v1.png'>
                <h1 class='text mNavItemText' value='home'>Home</h1>
            </div>
            <div class='mNavItemDiv'>
                <img class='mNavIcon' id='mIconBackground' value='background' src='https://img.icons8.com/ios/50/000000/overview-pages-1.png'>
                <h1 class='text mNavItemText' value='background'>Background</h1>
            </div>
            <div class='mNavItemDiv'>                
                <img class='mNavIcon' id='mIconAnalysis' value='analysis' src='https://img.icons8.com/material-rounded/48/000000/graph.png'>
                <h1 class='text mNavItemText' value='analysis'>Analysis</h1>                
            </div>
            <div class='mNavItemDiv'>
                <img class='mNavIcon mActive' id='mIconData' value='data' src='https://img.icons8.com/small/64/000000/data-sheet.png'>
                <h1 class='text mNavItemText' value='data'>Data</h1>
            </div>
        </div>
        <div class='row mobile' id='mNavbar'>
            <img src='https://img.icons8.com/material-outlined/30/000000/menu--v1.png'>
        </div>
    </div>
      
    
    <!-- D3 Scripts -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
    <!-- Javascript -->
    <script type='text/javascript' src='/static/js/app.js'></script>
    <script type='text/javascript' src='/static/js/data.js'></script>
</body>
</html>